[submodule "lib/libopencm3"]
	path = lib/libopencm3
	url = https://github.com/libopencm3/libopencm3
	branch = master
[submodule "lib/libopencm3-drivers"]
	path = lib/libopencm3-drivers
	url = https://github.com/shchers/libopencm3-drivers
	branch = master
